.idea/
target/
*.iml

main.log

config.properties
supported_problem_types.properties

test-project/.classpath
test-project/.columbus_java
test-project/.project
test-project/.settings
test-project/target
node_modules/
.env
__pycache__
demo-project/
semo-project/
tester-project/
ai4framework/logs/ai4framework.log